<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>応募フォーム</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            max-width: 500px;
            margin: auto;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }
        label {
            display: block;
            margin-top: 15px;
        }
        input, textarea {
            width: 97%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
		
		select{
			width:145px;
			height: 45px;
			font-size: 50px;
			
		}
        button {
            margin-top: 20px;
            padding: 10px 20px;
            background: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <h1>応募フォーム</h1>
    <form action="/submit" method="post">
		
<!--<input type="email" :	「メールアドレス形式の文字列」を受け取ってねという意味
name="email" :nameをキーとし、サーバーにemailという値を送る。この入力欄のデータに email という名前を付ける
required:空欄だと送信できない-->
			
        <label>名前<input type="text" name="name" required></label>
		<label>生年月日</label>
			<select name="year" id="year">
				<option value="">選択して下さい</option>
				<option value="2008">2008</option>
				<option value="2007">2007</option>
				<option value="2006">2006</option>
				<option value="2005">2005</option>
				<option value="2004">2004</option>
				<option value="2003">2003</option>
				<option value="2002">2002</option>
				<option value="2001">2001</option>
				<option value="2000">2000</option>
				<option value="1999">1999</option>
				<option value="1998">1998</option>
				<option value="1997">1997</option>
				<option value="1996">1996</option>
			</select>年
				
			<select name="month" id="month">
				<option value="">選択して下さい</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>月
			
			<select name="day" id="day">
				<option value="">選択して下さい</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>日
		<label>年齢<input type="text" name="age" id="age" required></label>
        <label>メールアドレス<input type="email" name="email" required></label>
		<label>電話番号<input type="tel" name="callnumber" required></label>
		<label>現在のお住まいの地域</label>
			<select name="live">
				<option value="" selected>選択してください</option>
				<option value="北海道">北海道</option>
			    <option value="青森県">青森県</option>
			    <option value="岩手県">岩手県</option>
			    <option value="宮城県">宮城県</option>
			    <option value="秋田県">秋田県</option>
			    <option value="山形県">山形県</option>
			    <option value="福島県">福島県</option>
			    <option value="茨城県">茨城県</option>
			    <option value="栃木県">栃木県</option>
			    <option value="群馬県">群馬県</option>
			    <option value="埼玉県">埼玉県</option>
			 	<option value="千葉県">千葉県</option>
			    <option value="東京都">東京都</option>
			    <option value="神奈川県">神奈川県</option>
			    <option value="新潟県">新潟県</option>
			    <option value="富山県">富山県</option>
			    <option value="石川県">石川県</option>
			    <option value="福井県">福井県</option>
			    <option value="山梨県">山梨県</option>
			    <option value="長野県">長野県</option>
			    <option value="岐阜県">岐阜県</option>
			    <option value="静岡県">静岡県</option>
			    <option value="愛知県">愛知県</option>
			    <option value="三重県">三重県</option>
			    <option value="滋賀県">滋賀県</option>
			    <option value="京都府">京都府</option>
			    <option value="大阪府">大阪府</option>
			    <option value="兵庫県">兵庫県</option>
			    <option value="奈良県">奈良県</option>
			    <option value="和歌山県">和歌山県</option>
			    <option value="鳥取県">鳥取県</option>
			    <option value="島根県">島根県</option>
			    <option value="岡山県">岡山県</option>
			    <option value="広島県">広島県</option>
			    <option value="山口県">山口県</option>
			    <option value="徳島県">徳島県</option>
			    <option value="香川県">香川県</option>
			    <option value="愛媛県">愛媛県</option>
			    <option value="高知県">高知県</option>
			    <option value="福岡県">福岡県</option>
			    <option value="佐賀県">佐賀県</option>
			    <option value="長崎県">長崎県</option>
			    <option value="熊本県">熊本県</option>
			    <option value="大分県">大分県</option>
			    <option value="宮崎県">宮崎県</option>
			    <option value="鹿児島県">鹿児島県</option>
			    <option value="沖縄県">沖縄県</option>
			</select>
		
		<label>最終学歴（学校名・学部）<input type="text" name="finalbackground" required></label>	 
		<label>スキル<input type="text" name="skills" required></label>
		<label>経歴</label>
			<textarea name="job" rows="5" cols="30" required></textarea>
        <label>自己PR</label>
			<textarea name="PR" rows="5" cols="30" required></textarea>
		<label>志望動機</label>
			<textarea name="motivation" rows="5" cols="30" required></textarea>

        <button type="submit">送信</button>
    </form>
	
	<script>
		function calculateAge(){
			const year = document.getElementById('year').value;
			const month = document.getElementById('month').value;
			const day = document.getElementById('day').value;
			
			if(!year || !month || !day){
				document.getElementById('age').value = '';
				return;
			}
			//今日の日付を取得
			const today = new Date();
			//生年月日のデータを取得
			const birthdate = new Date(year,month - 1,day);
			//今年の誕生日のデータを取得
			const currentYearBirthday = new Date(today.getFullYear(),birthdate.getMonth(),birthdate.getDate());
			//生まれた年と今年の差を計算
			let age = today.getFullYear() - birthdate.getFullYear();
			//今日の日付と今年の誕生日を比較
			if(today < currentYearBirthday){
				//今年誕生日を迎えていないなら１をひく　
				age--;
			}
				
			//getElementById('age')は、id="age" のついた要素（この場合は <input>）を取得し、value（値）をageにする
			document.getElementById('age').value = age;
			
		}
		//各selectにイベントを追加
		document.addEventListener('DOMContentLoaded',function(){
			document.getElementById('year').addEventListener('change',calculateAge);
			document.getElementById('month').addEventListener('change',calculateAge);
			document.getElementById('day').addEventListener('change',calculateAge);
		});
	</script>
</body>
</html>