<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>パスワードをお忘れの方</title>
	<link rel="stylesheet" th:href="@{/style.css}">
    <style>
		input{
			border: 1px solid #333333;	
			width: 200px;
				
		}
		
		button {
			margin-top: 20px;
		    padding: 10px 20px;
		    background: #007bff;
		    color: white;
		    border: none;
		    border-radius: 4px;
		}
		
	</style>
</head>
<body>
	
	<form action="/forgetpassword" method="post">
		<h1>以下の項目を記入してください</h1>
		<!--入力欄-->
		<div>
			<label for = "username">ユーザー名(メールアドレス):</label>
			<input type="email" name="username" id = "username" placeholder ="メールアドレスを入力して下さい" required>
		</div>
		
		<h4>上記のアドレスにパスワード再設定のメールを送信します。</h4>
		
		<!--ボタン-->
		<button type="submit">送信</button>
		
		
	</form>
	
	<div th:if="${message}" th:text="${message}"></div>
	<div th:if="${error}" th:text="${error}"></div>
	
	<div th:if="${message}">
		<a href = "http://localhost:8080/login" >ログイン画面へ</a>
	</div>
	
</body>
	