<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログインフォーム</title>
	<link rel="stylesheet" th:href="@{/style.css}">

    <style>
		input{
			border: 1px solid #333333;
			width: 200px;
			
		}
		button {
			margin-top: 20px;
		    padding: 10px 20px;
		    background: #007bff;
		    color: white;
		    border: none;
		    border-radius: 4px;
		}
		
	</style>
</head>
<body>
	<form action="/login" method="post">
		<h1>ログインしてください</h1>
		<!--入力欄-->
		<label for = "username">ユーザー名:</label>
		<input class="inputname" type="email" name="username" id = "username" placeholder ="メールアドレスを入力して下さい" required>
		<div>
			<label for = "password">パスワード:</label>
			<input class="inputpassword" type="password" name="password" id = "password" minlength = "8" required>
		</div>
		<!--ハイパーリンク-->
		<div>
			<a th:href = "@{/forgetpassword}" >パスワードをお忘れの方はこちら</a>
		</div>
		<div>
			<a th:href = "@{/newRegistration}" >初めてログインする方はこちら</a>
		</div>
		
		<div th:if="${error}">
		    <span th:text="${error}" style="color:red;"></span>
		</div>

		<!--ボタン-->
		<button class="button" type="submit">ログイン</button>
		
	</form>
</body>
	